.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
 
}

.nav-ul li a{
  color: rgb(15, 17, 17);
  padding: 30px;
  text-decoration: blink;
  font-size: larger;
  font-weight: 700;
}

.nav-ul{
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
 
}

.nav-right{
  text-align: right;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: skyblue;
    padding: 0px;
    text-align: center;
}
  


.register,.product{
  margin-left: 30%;
  margin-top: 50px;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}
.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}

.order-list{
  text-align: center;
  margin-top: 10px;
  height: auto;
  margin-bottom: 100px;
  border: 2px solid skyblue;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.order-list ul li{
  display: inline-block;
  /* border: 1px solid skyblue; */
  padding: 5px;
  width: 150px;
}

.product-list ul{
  margin: 0px;
}
.order-list ul{
  margin: 5px;
}


.search-product-box{
     width: 400px;
     margin: 20px;
     height: 40px;
     border: 1px solid skyblue;
     padding-left: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  width:80px;
  float: left;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 50px;
  margin-right: 50px;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-pizza-container {
  display: flex;
}

.custom-pizza-form {
  flex: 1;
  margin-right: 50px;
  /* border: 2px solid green; */
  
}

.summary-section {
  flex: 1;
}

/* new */
.about .heading{
  color: white;
  font-size: xx-large;
  font-weight: 700;
}


.about .content{
  color: white;
  font-size: "16px";
  font-weight: 400;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 1rem; /* Adjust the padding as needed */
  width: 100%; /* Make the element take up the full width of its container */
}

.custom-tbody tr {
  margin-bottom: 0.5rem;
  color: white;
  font-size: large;
  font-weight: 400;
}

.custom-tbody tr td:first-child {
  color: white;
  font-size: large;
  font-weight: 700;
}

.about .project p{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: rgb(240, 142, 15);

}


.about .project p span{
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  color: rgb(240, 142, 15);

}

.resume h1{
  color: white;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif; 
}

.resume p{
  color: white;
  font-size: large;
  font-weight: 400;
}

.custom-hr {
  width: 90%;
  border: none;
  height: 5px;
  background: linear-gradient(to right, #bbc9a9 5%, #a4aa6e 25%, #7fa554 25%, #96a03e 50%, #888f25 50%, #61a026 75%, #1bb42f 75%, #0aa305 100%);
}
